/*Media Queries*/
@media (max-width: 640px) {

    .nav-links {
		display: flex;
        justify-content: space-around;
	}
	.nav-links a {
		display: flex; /* change state in small view */
	}
	#menu {
		display: none;
	}

    #menu:checked ~ .nav-links {
        display: flex;
    }

}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
