* {
    margin: 0 ;
    padding: 0;
	box-sizing: border-box;
}

:root{
    --texte: #1a1a1a;
    --boutton: #d72638;
    --fond: #ffffff;
    --menu: #2f2f2f;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: var(--menu);
    color: var(--fond);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header {
    background-image: url("../images/entete.webp");
    height: 19vh;
}
header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
    position: relative;
    right: 3rem;   
    text-shadow: 0 0 8px rgb(0, 0, 0);
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2rem;
    text-shadow: 2px 2px 4px var(--ombre);
    animation: fade 1s ease-in-out;
}

.logo img {
    width: 110px;
    border-radius: 28px;
    box-shadow: 0 0 10px rgb(247, 249, 246);
}

.nav-links a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: var(--fond);
    font-size: 1.8rem;
    font-weight: bold;
    background: var(--boutton);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.nav-links a:hover {
    color: var(--fond);
    background-color: var(--fond);
    color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.navbar input[type=submit] {
    padding: 1rem;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    top: 33px;
    right: 2rem;
    animation: blink 2s infinite;
}

.navbar input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--boutton);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.footer-p {
    font-size: 15px;
    justify-items: center;
    position: relative;
    left: 4rem;
}

.footer-logo img{
    width: 50px;
    border-radius: 26px;
    box-shadow: 0 0 10px rgb(247, 249, 246);
}

footer h3 {
    font-size: 1.5rem;
    position: relative;
    right: 8rem;
    top: 1rem;
}

.foot {
    background: var(--boutton);
    padding: 1rem;
    border-radius: 1rem;
    
}

.foot:hover {
    transform:scale(1.1);
    transition: 0.3s ease;
    cursor: pointer;
}

.sociallinks a {
    text-decoration: none;
    color: var(--fond);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
}

.sociallinks img {
    width: 30px;
    border-radius: 26px;
}

.hero {
    width: 100%;
    position: relative;
    background-color: var(--texte);
    text-align: center;
}

.hero h2 {
    position: relative;
    top: 4rem;
    width: 70%;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    color: var(--boutton);
    opacity: 0.8;
}

.hero p {
    color: var(--fond);
    position: relative;
    width: 71%;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 8rem;
}
/*form*/
main form, .send {
    padding: 2rem;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 8px;
}

main, .send  {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-color: var(--boutton);
    color: var(--texte);
}

textarea {
    width: 100%;
    height: 60px;
    border-radius: 0.3rem;
    resize: none;
    border: none;
    box-shadow: 0 0 3px rgb(150, 95, 95);
}

input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main input[type=submit] {
    padding: 1rem;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--texte);
    color: var(--fond);
    margin: 20px 0 0;
}

main input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--boutton);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

label {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
}

select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: 0 0 3px rgb(150, 95, 95);
}

input[type=checkbox]{
    width: 20%;
    border: none;
}

form P {
    margin: 10px;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
    width: 90%;
    margin: 2rem auto;
}

.presentation h2 {
    font-size: 5rem;
    color: var(--texte);
    width: 60%;
    text-align: center;
    margin: 1rem;
}   

.presentation p {
    font-size: 2rem;
    color: var(--texte);
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
}

.presentation li {
    font-size: 1.5rem;
    color: var(--texte);
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}

.btn-group input[type=submit] {
    padding: 1rem;
    font-size: 3rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    margin: 2rem 0;
}

.btn-group input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
/*Contact Us */

.section-deux, .trois {
    display: flex;
    justify-content: center;
    opacity:0.8;
    padding: 5rem;
    gap: 2rem;
}

.section-deux img, .trois img, .image-placeholder img{
    width: 100%;
    border-radius: 8px;
}

.section-deux input[type="submit"] {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 10rem;
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    margin: 0 auto;
}

.section-deux input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
.card-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 8px rgb(63, 62, 62);
    border-radius: 5px;
    width: 90%;
    padding: 2rem;
    margin: 2rem auto;
}

.card-large h3 {
    font-size: 4rem;
    text-align: center;
}

.card-large p {
    font-size: 1.3rem;
    margin: 10px 20px;
}

.send h3 {
    font-size: 2rem;
    color: var(--boutton);
    text-align: center;
    margin: 10px 0;
}

.send input[type="submit"] {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    margin: 10px auto;
}

.send {
    margin: 2rem auto;
    width: 30rem;
}

.send label {
    font-size: 14px;
    margin: 8px;
}

.send legend {
    font-size: 16px;
    color: var(--boutton);
}

.send input[type="submit"]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.salus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--texte);
    padding: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.tarifs img {
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0);

}

.plan, .offre, .proposition {
    background-color: var(--fond);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(243, 101, 101);
    border-radius: 10px;
    width: 25%;
    padding: 2rem;
}

.plan h3, .offre h3, .proposition h3 {
    font-size: 2rem;
    color: var(--texte);
    margin: 1rem;
    text-align: center;
    font-weight: bold;
}

.plan li, .offre li, .proposition li {
    font-size: 1.1rem;
    color: var(--texte);
    margin: 6px;
    font-weight: bold;
}

.plan input[type=submit], .offre input[type=submit], .proposition input[type=submit] {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    margin: 2rem 0;
}
.plan input[type=submit]:hover, .offre input[type=submit]:hover, .proposition input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.offre p {
    font-size: 1.5rem;
    color: var(--boutton);
    margin: 10px 20px;
}

form h2 {
    font-size: 2rem;
    color: var(--boutton);
    text-align: center;
    margin: 10px 0;
}
form p {
    font-size: 1rem;
    color: var(--texte);
    text-align: center;
    margin: 10px 0;
}

.map {
    width: 100%;
    border-radius: 8px;
}
iframe {
    width: 100%;
    height: 60vh;
    border: none;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fond);
    gap: 2rem;
    bottom: 30rem;
    left: 40rem;
    width: 20%;
    margin: 5px auto;
    border-radius: 5px;
}
.info h2 {
    font-size: 2rem;
    color: var(--boutton);
}

.info p {
    font-size: 1rem;
    color: var(--texte);
}

.info input[type=submit] {
    display: flex;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    width: 13rem;
    padding: 1rem;
    margin: 2rem 0;
}
.info input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: relative;
    bottom: 7rem;
}

.call, .inscri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30vh;
    padding: 2rem;
    background-color: var(--fond);
    border-color: var(--boutton);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.call h2, .inscri h2 {
    font-size: 3rem;
    color: var(--texte);
    text-align: center;
    margin: 10px 0;
}
.call p, .inscri p {
    font-size: 1rem;
    color: var(--texte);
    text-align: center;
    margin: 10px 0;
}
.call input[type=submit], .inscri input[type=submit] {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    margin: 2rem 0;
}
.call input[type=submit]:hover, .inscri input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.call img {
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.call a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}


.faim {
    width: 100%;
    position: relative;
    background-color: var(--texte);
    text-align: center;
    padding: 10rem;
}

.faim h2 {
    color: var(--fond);
    position: relative;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: bold;
    color: var(--boutton);
    opacity: 0.8;
    bottom: 6rem;
}

.faim p {
    color: var(--fond);
    font-size: 2rem;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

.contener {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 5rem;
    margin: 0 auto;
    background: var(--texte);
}
.global:hover {
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
.contener img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin: 0 auto;
}

.globals h2 {
    font-size: 5rem;
    color: var(--boutton);
    text-align: center;
    padding: 10px 0;
}

.global {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(176, 8, 8);
    background-color: var(--fond);
    padding: 2rem;
    width: 90%;
    margin: 1px auto;
    border-radius: 4px;
    gap: 2rem;
}

.global em {
    font-size: 1.2rem;
    color: var(--texte);
    text-align: center;
    margin: 10px 0;
}
.global p {
    font-size: 1rem;
    color: var(--texte);
}

.global input[type=submit] {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--boutton);
    color: var(--fond);
    width: 13rem;
    margin: 0 auto;
}
.global input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--texte);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
}

.contact, .hours {
    display: flex;
    flex-direction: column;
    color: var(--texte);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 2rem;
    width: 50%;
    margin: 2rem;
    border-radius: 5px;
}

.contact h2, .hours h2 {
    font-size: 4rem;
    color: var(--boutton);
    text-align: center;
    margin: 10px 0;
}
.hours P {
    font-size: 2rem;
    color: var(--texte);
    margin: 10px 0;
}

.contact a {
    font-size: 1.5rem;
    color: var(--texte);
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
.contact img {
    width: 3%;
    margin: 0 1rem;
}

.contact-info h2 {
    font-size: 4rem;
    color: var(--boutton);
    text-align: center;
    margin: 10px 0;
}

.contact input[type=submit] {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: var(--texte);
    color: var(--fond);
    width: 13rem;
    margin: 0 auto;
}

.contact input[type=submit]:hover {
    color: var(--fond);
    background-color: var(--boutton);
    transform:scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

#menu {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.container h4, .container h2 {
    font-size: 3rem;
    color: var(--texte);
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.container img {
    width: 18%;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

