
@media screen and (min-width: 700px) {

    .weather, .congo {
        font-size: 1.5rem;
        background-color: var(--therdely-color);
        padding: 2rem 1rem 0 0;
        width: 30%;
    }
    
    h2 {
        font-size: 2rem;
        color: var(--quarternary-color);
        background-color: var(--background-color);
        padding: 20px;
    }
    
    .congo {
        position: absolute;
        top: 13rem;
        left: 1rem;
    }
    
    .weather h2::after {
        content: " ⛅";
    }
    
    .congo h2::after {
        content: " 🎢 ";
    }
    
    .weather {
        position: absolute;
        top: 32rem;
        right: 2rem;
    }
}

@media screen and (min-width: 890px) {
    .congo {
        position: absolute;
        top: 20rem;
        left: 3rem;
    }
    
    .weather {
        position: absolute;
        top: 67rem;
        right: 3rem;
    }

    .weather, .congo {
        font-size: 1.5rem;
        background-color: var(--therdely-color);
        padding: 2rem 1rem 0 0;
        width: 25rem;
    }

    P {
        padding: 8px;
    }

    .icons {
        position: absolute;
        left: 20rem;
        bottom: 13rem;
    }

}
