

:root {
    --background-color: #073215;
    --text-color: #F0F0F0;
    --therdely-color: #82849B;
    --quarternary-color: #F0F0F0;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0 ;
    padding: 0;
}


h1 {
    font-size: 4rem;
    padding: 10px;

}

footer, header {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

.brazza img {
    position: relative;
    width: 100%;
    height: auto;
    border-top: var(--therdely-color) solid 20px;
}

.weather, .congo {
    font-size: 1.5rem;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    color: var(--background-color);
    padding: 20px;
    text-align: center ;
}

.weather h2::after {
    content: " ⛅";
}

p {
    text-align: center;
}

.congo h2::after {
    content: " 🎢 ";
}

.icons img {
    position: relative;
    align-items: center;
    left: 25rem;
}
